@import url('https://fonts.googleapis.com/css2?family=Ruluko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    /* base settings */
    --base-color: brown;
    --second-color: #25282a;;
    --font-color: white;
    --button-color: #71abff;
    /* slider viewer */
    --height-viewer: 50vh;
}

html{
    box-sizing: border-box;
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Ruluko', sans-serif;
    color: var(--font-color);
    background-color: var(--second-color);
}