*{
    --link: .wrapper>.slider
}
#radio_1, #radio_2, #radio_3, #radio_4 {
    display: none;
}

.slider__controls{
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.slider__controls > label {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider__controls > label:hover > .circle {
    background-color: white;
    border-color: white;
}

input[type="radio"]:not(:checked) ~ .wrapper>.slider>.slider__controls>label:hover > .circle{
    background-color: white;
}

.circle {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 20px;
    border: var(--button-color) solid 2px;
    background: var(--button-color);
}



/**! ANIMATION **/

    /**Slider #1*/

#radio_1:checked ~ .wrapper>.slider>.slider__viewer>.img_1{
    z-index: 1;
    animation-name: animation_img;
    animation-duration: 0.5s;
}

#radio_1:checked ~ .wrapper>.slider>.slider__controls>label[for="radio_1"] > .circle{
    background: transparent;
}

    /**Slider #2*/

#radio_2:checked ~ .wrapper>.slider>.slider__viewer>.img_2{
    z-index: 2;
    animation-name: animation_img;
    animation-duration: 0.5s;
}

#radio_2:checked ~ .wrapper>.slider>.slider__viewer>.img_1{
    z-index: 1;
}

#radio_2:checked ~ .wrapper>.slider>.slider__controls>label[for="radio_2"] > .circle{
    background: transparent;
}

    /**Slider #3*/

#radio_3:checked ~ .wrapper>.slider>.slider__viewer>.img_3{
    z-index: 2;
    animation-name: animation_img;
    animation-duration: 0.5s;
}

#radio_3:checked ~ .wrapper>.slider>.slider__viewer>.img_2{
    z-index: 1;
}

#radio_3:checked ~ .wrapper>.slider>.slider__controls>label[for="radio_3"] > .circle{
    background: transparent;
}

    /**Slider #4*/

#radio_4:checked ~ .wrapper>.slider>.slider__viewer>.img_4{
    z-index: 2;
    animation-name: animation_img;
    animation-duration: 0.5s;
}

#radio_4:checked ~ .wrapper>.slider>.slider__viewer>.img_3{
    z-index: 1;
}

#radio_4:checked ~ .wrapper>.slider>.slider__controls>label[for="radio_4"] > .circle{
    background: transparent;
}