

.header, .slider, .footer {
    padding: 1vh;
}

.header {
    grid-area: h;
}

.slider{
    grid-area: s;
}

.footer{
    grid-area: f;
}

.wrapper{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(10vh, auto) 1fr minmax(10vh, auto) ;
    grid-template-areas: 
        "h"
        "s"
        "f";
}

@media (min-width: 768px){
    .wrapper{
        grid-template-columns: minmax(2vw, auto) 0.7fr minmax(2vw, auto);
        grid-template-rows: minmax(10vh, auto) 1fr minmax(10vh, auto) ;
        grid-template-areas: 
        ". h ."
        ". s ."
        ". f .";
    }
}

@media (min-width: 1024px){
    .wrapper{
        grid-template-columns: minmax(15vw, auto) 0.7fr minmax(15vw, auto);
        grid-template-rows: minmax(15vh, auto) 74vh minmax(10vh, auto) ;
        grid-template-areas: 
        ". h ."
        ". s ."
        ". f .";
    }
}

@media (min-width: 1920px){
    .wrapper{
        grid-template-columns: minmax(15vw, auto) 0.7fr minmax(15vw, auto);
        grid-template-rows: minmax(10vh, auto) 1fr minmax(10vh, auto) ;
        grid-template-areas: 
        ". h ."
        ". s ."
        ". f .";
    }
}