

.header, .slider, .footer {
    border: solid 2px white;
    padding: 10px;
}

.header {
    grid-area: h;
}

.slider{
    grid-area: s;
}

.footer{
    grid-area: f;
}

.wrapper{
    display: grid;
    grid-gap: 5px; /* -- delete*/
    grid-template-columns: 1fr;
    grid-template-rows: minmax(10vh, auto) 1fr minmax(10vh, auto) ;
    grid-template-areas: 
        "h"
        "s"
        "f";
}

@media (min-width: 768px){
    .wrapper{
        grid-template-columns: minmax(10vw, auto) 0.7fr minmax(10vw, auto);
        grid-template-rows: minmax(10vh, auto) 1fr minmax(10vh, auto) ;
        grid-template-areas: 
        ". h ."
        ". s ."
        ". f .";
    }
}

@media (min-width: 1040px){

}

@media (min-width: 1920px){

}