.slider__text{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

.slider__text > h3 {
    margin: 0;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    position: relative;
    right: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

